.max_width_container{ 
    max-width: 30%;
    display: inline-flex;
    margin-top: 30px;
    /* padding: 15px; */
    margin :20px;
}
.image-container {
    position: relative;
  }
  .bg-dark1{
    background-color: rgba(0, 0, 0, 0.151)!important;
    color: #000000;
    border-radius: 10px;
  }
  .image-container:hover .text-overlay {
    opacity: 1;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
  }
  
  .text-overlay h3 {
    margin: 0;
  }
  .image-fluid{
    border-bottom-left-radius: 21px!important;
  }
  .text-overlay p {
    margin-top: 10px;
  }
  .img-fluid:hover{
    /* image zoom */
    /* transform: scale(1.1); */
    cursor: pointer;
  }
  .card:hover{
    
    transform: scale(1.1);
    cursor: pointer;
  }
  @media (min-width: 768px) {
    .mobile {
      display: none;
    }
  
    .desktop {
      display: block inline;
    }
  }
  
  @media (max-width: 767px) {
    .mobile {
      display: block inline;
    }
  
    .desktop {
      display: none;
    }
  }
  
  .image_personal{
   max-height: 250px;
    

  }
.row
{
  justify-content: space-between;}