.endd{
    display: flex-end;
    
}
h4{
    display :inline-flex;
}
label{
    display: flex;
    justify-content: space-between;
  margin : 100px;
  margin-top: 0;
  margin-bottom: 0;
}
.disp{
    display: flex;
}

